In [2]:

import pandas as pd

# Load the Excel files
file1 = "./data/raw/data_cts_prisons_and_prisoners.xlsx"
file2 = "./data/raw/10.1_Drug_related_crimes.xlsx"

# Check what sheets exist in each file
print(pd.ExcelFile(file1).sheet_names)
print(pd.ExcelFile(file2).sheet_names)

['data_cts_prisons_and_prisoners', 'data_cts_prisons_reg_estimates']
['Formal contact']

In [9]:
df_prisons = pd.read_excel(file1, sheet_name="data_cts_prisons_and_prisoners", skiprows=2)
df_drugs = pd.read_excel(file2, sheet_name="Formal contact")

In [10]:
print(df_prisons.head())
print(df_drugs.head())

# See column names and data types
print(df_prisons.info())
print(df_drugs.info())

# Quick stats summary
print(df_prisons.describe(include='all'))
print(df_drugs.describe(include='all'))

  Iso3_code                            Country    Region  \
0       BRB                           Barbados  Americas
1       CRI                         Costa Rica  Americas
2       DMA                           Dominica  Americas
3    GBR_NI  United Kingdom (Northern Ireland)    Europe
4       ITA                              Italy    Europe

                         Subregion                Indicator  \
0  Latin America and the Caribbean  Persons entering prison
1  Latin America and the Caribbean  Persons entering prison
2  Latin America and the Caribbean  Persons entering prison
3                  Northern Europe  Persons entering prison
4                  Southern Europe  Persons entering prison

           Dimension              Category    Sex    Age  Year  \
0  by selected crime  Intentional Homicide  Total  Total  2016
1  by selected crime  Intentional Homicide  Total  Total  2016
2  by selected crime  Intentional Homicide  Total  Total  2016
3  by selected crime  Intentional Homicide  Total  Total  2016
4  by selected crime  Intentional Homicide  Total  Total  2016

  Unit of measurement   VALUE Source
0              Counts     0.0    CTS
1              Counts   173.0    CTS
2              Counts    65.0    CTS
3              Counts    61.0    CTS
4              Counts  1443.0    CTS
     Region                   SubRegion                             Country  \
0    Africa     West and Central Africa                               Ghana
1    Europe  Western and Central Europe                           Gibraltar
2      Asia    East and South-East Asia                    China, Macao SAR
3  Americas               South America  Venezuela (Bolivarian Republic of)
4    Europe  Western and Central Europe                           Gibraltar

  campaign  Year              Type of offence               Drug  \
0  ARQ2021  2021  Other drug-related offences  Any Illicit drugs
1  ARQ2021  2021  Other drug-related offences  Any Illicit drugs
2  ARQ2021  2021  Other drug-related offences  Any Illicit drugs
3  ARQ2022  2022  Other drug-related offences  Any Illicit drugs
4  ARQ2020  2020  Other drug-related offences  Any Illicit drugs

   Calculated total  Reported total  Males  Females  Adults  Juveniles  \
0                 0             NaN    NaN      NaN     0.0        0.0
1                 0             0.0    NaN      NaN     NaN        NaN
2                 0             0.0    NaN      NaN     0.0        NaN
3                 0             0.0    NaN      NaN     0.0        NaN
4                 0             0.0    0.0      0.0     0.0        0.0

   Unknown/Other/ Third/Intersex Specify year if other Adults: 18 and older  \
0                            NaN                   NaN                  Yes
1                            NaN                   NaN                  Yes
2                            NaN                   NaN                  Yes
3                            NaN                   NaN                  Yes
4                            NaN                   NaN                  Yes

  Juveniles: under 18 years old msCode
0                           Yes    GHA
1                           Yes    GIB
2                           Yes    MAC
3                           Yes    VEN
4                           Yes    GIB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84025 entries, 0 to 84024
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Iso3_code            84025 non-null  object
 1   Country              84025 non-null  object
 2   Region               84025 non-null  object
 3   Subregion            84025 non-null  object
 4   Indicator            84025 non-null  object
 5   Dimension            84025 non-null  object
 6   Category             84025 non-null  object
 7   Sex                  84025 non-null  object
 8   Age                  84025 non-null  object
 9   Year                 84025 non-null  int64
 10  Unit of measurement  84025 non-null  object
 11  VALUE                84025 non-null  float64
 12  Source               84025 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 8.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Region                         1236 non-null   object
 1   SubRegion                      1236 non-null   object
 2   Country                        1236 non-null   object
 3   campaign                       1236 non-null   object
 4   Year                           1236 non-null   int64
 5   Type of offence                1236 non-null   object
 6   Drug                           1236 non-null   object
 7   Calculated total               1236 non-null   int64
 8   Reported total                 1211 non-null   float64
 9   Males                          1045 non-null   float64
 10  Females                        1017 non-null   float64
 11  Adults                         762 non-null    float64
 12  Juveniles                      687 non-null    float64
 13  Unknown/Other/ Third/Intersex  205 non-null    float64
 14  Specify year if other          3 non-null      object
 15  Adults: 18 and older           755 non-null    object
 16  Juveniles: under 18 years old  1197 non-null   object
 17  msCode                         1236 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 173.9+ KB
None
       Iso3_code Country  Region                        Subregion  \
count      84025   84025   84025                            84025
unique       227     227       5                               17
top          SWE  Sweden  Europe  Latin America and the Caribbean
freq        1319    1319   37118                            21154
mean         NaN     NaN     NaN                              NaN
std          NaN     NaN     NaN                              NaN
min          NaN     NaN     NaN                              NaN
25%          NaN     NaN     NaN                              NaN
50%          NaN     NaN     NaN                              NaN
75%          NaN     NaN     NaN                              NaN
max          NaN     NaN     NaN                              NaN

           Indicator Dimension Category    Sex    Age          Year  \
count          84025     84025    84025  84025  84025  84025.000000
unique             6         7       35      3      3           NaN
top     Persons held     Total    Total  Total  Total           NaN
freq           49944     39935    31829  62726  70979           NaN
mean             NaN       NaN      NaN    NaN    NaN   2015.515799
std              NaN       NaN      NaN    NaN    NaN      5.629889
min              NaN       NaN      NaN    NaN    NaN   1998.000000
25%              NaN       NaN      NaN    NaN    NaN   2012.000000
50%              NaN       NaN      NaN    NaN    NaN   2017.000000
75%              NaN       NaN      NaN    NaN    NaN   2020.000000
max              NaN       NaN      NaN    NaN    NaN   2024.000000

       Unit of measurement         VALUE Source
count                84025  8.402500e+04  84025
unique                   3           NaN    113
top                 Counts           NaN    CTS
freq                 50397           NaN  53930
mean                   NaN  1.550004e+04    NaN
std                    NaN  1.610009e+05    NaN
min                    NaN  0.000000e+00    NaN
25%                    NaN  2.153351e+01    NaN
50%                    NaN  1.357195e+02    NaN
75%                    NaN  2.108000e+03    NaN
max                    NaN  1.167600e+07    NaN
        Region                   SubRegion  Country  campaign         Year  \
count     1236                        1236     1236      1236  1236.000000
unique       5                          16      129         6          NaN
top     Europe  Western and Central Europe  Czechia  HIST2019          NaN
freq       553                         416       29       453          NaN
mean       NaN                         NaN      NaN       NaN  2020.551780
std        NaN                         NaN      NaN       NaN     1.515289
min        NaN                         NaN      NaN       NaN  2019.000000
25%        NaN                         NaN      NaN       NaN  2019.000000
50%        NaN                         NaN      NaN       NaN  2020.000000
75%        NaN                         NaN      NaN       NaN  2022.000000
max        NaN                         NaN      NaN       NaN  2023.000000

                             Type of offence               Drug  \
count                                   1236               1236
unique                                     3                 27
top     Offences related to drug trafficking  Any Illicit drugs
freq                                     532                889
mean                                     NaN                NaN
std                                      NaN                NaN
min                                      NaN                NaN
25%                                      NaN                NaN
50%                                      NaN                NaN
75%                                      NaN                NaN
max                                      NaN                NaN

        Calculated total  Reported total          Males        Females  \
count        1236.000000     1211.000000    1045.000000    1017.000000
unique               NaN             NaN            NaN            NaN
top                  NaN             NaN            NaN            NaN
freq                 NaN             NaN            NaN            NaN
mean        13717.503236    13889.042114    9409.719617    1313.625369
std         42783.724838    43134.594692   30088.141962    7435.552649
min             0.000000        0.000000       0.000000       0.000000
25%           117.750000      114.500000      93.000000       9.000000
50%          1094.000000     1092.000000     791.000000      89.000000
75%          7383.750000     7656.000000    5037.000000     565.000000
max        787347.000000   787347.000000  573727.000000  213620.000000

               Adults     Juveniles  Unknown/Other/ Third/Intersex  \
count      762.000000    687.000000                     205.000000
unique            NaN           NaN                            NaN
top               NaN           NaN                            NaN
freq              NaN           NaN                            NaN
mean     12127.313648   1080.522562                     241.956098
std      38088.130994   5203.244702                    1241.766749
min          0.000000      0.000000                       0.000000
25%        160.500000      6.000000                       0.000000
50%       1344.500000     55.000000                       1.000000
75%       7454.250000    402.500000                      64.000000
max     744324.000000  74026.000000                   15326.000000

         Specify year if other Adults: 18 and older  \
count                        3                  755
unique                       1                    9
top     2020/21 financial year                  Yes
freq                         3                  724
mean                       NaN                  NaN
std                        NaN                  NaN
min                        NaN                  NaN
25%                        NaN                  NaN
50%                        NaN                  NaN
75%                        NaN                  NaN
max                        NaN                  NaN

       Juveniles: under 18 years old msCode
count                           1197   1236
unique                            16    129
top                              Yes    CZE
freq                            1113     29
mean                             NaN    NaN
std                              NaN    NaN
min                              NaN    NaN
25%                              NaN    NaN
50%                              NaN    NaN
75%                              NaN    NaN
max                              NaN    NaN

In [13]:
print(df_prisons.columns)
print(df_drugs.columns)

Index(['iso3_code', 'country', 'region', 'subregion', 'indicator', 'dimension',
       'category', 'sex', 'age', 'year', 'unit_of_measurement', 'value',
       'source'],
      dtype='object')
Index(['region', 'subregion', 'country', 'campaign', 'year', 'type_of_offence',
       'drug', 'calculated_total', 'reported_total', 'males', 'females',
       'adults', 'juveniles', 'unknown/other/_third/intersex',
       'specify_year_if_other', 'adults:_18_and_older',
       'juveniles:_under_18_years_old', 'mscode'],
      dtype='object')

In [12]:
df_prisons.columns = df_prisons.columns.str.strip().str.lower().str.replace(" ", "_")
df_drugs.columns = df_drugs.columns.str.strip().str.lower().str.replace(" ", "_")

In [14]:
df_prisons['category'].unique()

array(['Intentional Homicide', 'Rape', 'Drug Possession',
       'Drug Trafficking', 'Bribery', 'Drug possession',
       'Drug trafficking',
       'Acts leading to death or intending to cause death',
       'Acts against the natural environ-ment',
       'Other criminal acts not elsewhere classified',
       'Acts leading to harm or intending to cause harm to the person',
       'Injurious acts of a sexual nature',
       'Acts against property involving violence',
       'Acts against property only',
       'Acts involving controlled psycho-active substances',
       'Acts involving fraud, deception or corruption',
       'Acts against public order',
       'Acts against public safety and state security',
       'Acts against the natural environment', 'Total',
       'National citizens', 'Foreign citizens', 'Unsentenced',
       'Unsentenced: Total', 'Sentenced',
       'Unsentenced for more than 12 months',
       'Unsentenced for less than 12 months',
       'Unsentenced for less than 6 months',
       'Deaths due to external causes',
       'Deaths due to external causes: by intentional homicide',
       'Deaths due to external causes: by suicide',
       'Deaths due to external causes: by accident or other causes',
       'Deaths due to natural causes', 'Official prison capacity',
       'Number of facilities'], dtype=object)

In [20]:
categories = ['Drug-related', 'Drug Trafficking', 'Drug possession' 'Drug Possession', 'Drug trafficking','Total']
filtered_df_prisons = df_prisons[df_prisons['category'].isin(categories)]

In [21]:
print(filtered_df_prisons.columns)
filtered_df_prisons['unit_of_measurement'].unique()

Index(['iso3_code', 'country', 'region', 'subregion', 'indicator', 'dimension',
       'category', 'sex', 'age', 'year', 'unit_of_measurement', 'value',
       'source'],
      dtype='object')

array(['Counts', 'Percentage of total persons held',
       'Rate per 100,000 population'], dtype=object)

In [23]:
df_prisons_totals_only = df_prisons[
    (df_prisons['unit_of_measurement'].str.contains('100k', case=False, na=False)) &
    (df_prisons['sex'].str.lower() == 'Total') &
    (df_prisons['age'].str.lower() == 'Total') &
    (df_prisons['indicator'].str.lower() == 'Persons held')
].copy()

In [24]:
df_total_prisoners = df_prisons_totals_only[
    df_prisons_totals_only['category'].str.contains('Total', case=False, na=False)
]

df_drug_prisoners = df_prisons_totals_only[
    df_prisons_totals_only['category'].str.contains('Drug', case=False, na=False)
]

In [27]:
df_prisons_totals_only.columns.tolist()

['iso3_code',
 'country',
 'region',
 'subregion',
 'indicator',
 'dimension',
 'category',
 'sex',
 'age',
 'year',
 'unit_of_measurement',
 'value',
 'source']

In [28]:
duplicates_totals = (
    df_prisons_totals_only
    .groupby(['country', 'year'])
    .size()
    .reset_index(name='count')
    .query('count > 1')
)

duplicates_totals.head()

Empty DataFrame
Columns: [country, year, count]
Index: []

In [29]:
df_prisons_totals_only['category'].unique()

array([], dtype=object)

In [30]:
df_total_prisoners['category'].unique()

array([], dtype=object)

In [31]:
df_drug_prisoners['category'].unique()

array([], dtype=object)

In [32]:
df_prisons_totals_only.head()

Empty DataFrame
Columns: [iso3_code, country, region, subregion, indicator, dimension, category, sex, age, year, unit_of_measurement, value, source]
Index: []

In [33]:
df_prisons.head()

,iso3_code,country,region,subregion,indicator,dimension,category,sex,age,year,unit_of_measurement,value,source
0,BRB,Barbados,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,0.0,CTS
1,CRI,Costa Rica,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,173.0,CTS
2,DMA,Dominica,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,65.0,CTS
3,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,61.0,CTS
4,ITA,Italy,Europe,Southern Europe,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,1443.0,CTS

In [34]:
df_prisons[df_prisons['unit_of_measurement'].str.contains('100k', case=False, na=False)].shape

(0, 13)

In [35]:
df_prisons['unit_of_measurement'].unique()

array(['Counts', 'Percentage of total persons held',
       'Rate per 100,000 population'], dtype=object)

In [36]:
df_prisons['sex'].unique()

array(['Total', 'Male', 'Female'], dtype=object)

In [37]:
df_prisons['age'].unique()

array(['Total', 'Adult', 'Juveniles'], dtype=object)

In [42]:
df_prisons_totals_only = df_prisons[
    (df_prisons['unit_of_measurement'] == 'Rate per 100,000 population') &
    (df_prisons['sex'] == 'Total') &
    (df_prisons['age'] == 'Total') &
    (df_prisons['indicator'] == 'Persons held')
].copy()

In [43]:
df_prisons_totals_only.shape

(12830, 13)

In [44]:
df_prisons_totals_only['category'].unique()

array(['Intentional Homicide', 'Rape', 'Drug possession',
       'Drug trafficking', 'Bribery',
       'Acts leading to death or intending to cause death',
       'Acts against the natural environment',
       'Other criminal acts not elsewhere classified',
       'Acts leading to harm or intending to cause harm to the person',
       'Injurious acts of a sexual nature',
       'Acts against property involving violence',
       'Acts against property only',
       'Acts involving controlled psycho-active substances',
       'Acts involving fraud, deception or corruption',
       'Acts against public order',
       'Acts against public safety and state security', 'Total',
       'Unsentenced', 'Sentenced'], dtype=object)

In [46]:
# 1. Total prisoners
df_total_prisoners = df_prisons_totals_only[
    df_prisons_totals_only['category'] == 'Total'
].copy()

# 2. Drug-related prisoners
drug_categories = ['Drug possession', 'Drug trafficking', 'Acts involving controlled psycho-active substances']

df_drug_prisoners = df_prisons_totals_only[
    df_prisons_totals_only['category'].isin(drug_categories)
].copy()

In [47]:
df_total_prisoners['category'].unique()
df_drug_prisoners['category'].unique()

array(['Drug possession', 'Drug trafficking',
       'Acts involving controlled psycho-active substances'], dtype=object)

In [48]:
df_total_prisoners['category'].unique()

array(['Total'], dtype=object)

In [49]:
print(df_total_prisoners[['country', 'year']].head())
print(df_drug_prisoners[['country', 'year']].head())

          country  year
61972  Bangladesh  2000
61973   Nicaragua  2000
61974       Egypt  2001
61975      Angola  2003
61976     Albania  2003
         country  year
56752    Andorra  2010
56753  Australia  2010
56754   Barbados  2010
56755   Colombia  2010
56756    Czechia  2010

In [50]:
# Create sets of country-year pairs for each dataframe
total_pairs = set(zip(df_total_prisoners['country'], df_total_prisoners['year']))
drug_pairs = set(zip(df_drug_prisoners['country'], df_drug_prisoners['year']))

# Find intersection
common_pairs = total_pairs & drug_pairs

print(f"Number of matching country-year pairs: {len(common_pairs)}")

Number of matching country-year pairs: 717

In [52]:
duplicates_totals = (
    df_drug_prisoners
    .groupby(['country', 'year'])
    .size()
    .reset_index(name='count')
    .query('count > 1')
)

duplicates_totals.head()

    country  year  count
0   Albania  2013      3
1   Albania  2014      3
2   Albania  2015      3
11  Algeria  2012      3
12  Algeria  2013      3

In [53]:
# Sum up drug-related rates per country per year
df_drug_combined = (
    df_drug_prisoners
    .groupby(['country', 'year'], as_index=False)['value']
    .sum()
)

df_drug_combined.head()

   country  year      value
0  Albania  2013  40.790040
1  Albania  2014  35.540256
2  Albania  2015  39.121903
3  Albania  2016  13.734242
4  Albania  2017  54.860834

In [54]:
df_drug_combined.duplicated(subset=['country', 'year']).sum()

np.int64(0)

In [55]:
df_drug_combined.head(10)

   country  year      value
0  Albania  2013  40.790040
1  Albania  2014  35.540256
2  Albania  2015  39.121903
3  Albania  2016  13.734242
4  Albania  2017  54.860834
5  Albania  2018  58.944846
6  Albania  2019  54.765851
7  Albania  2020  45.648371
8  Albania  2021  49.690566
9  Albania  2022  50.643512

In [56]:
df_drug_combined.query("country == 'Albania'")

    country  year      value
0   Albania  2013  40.790040
1   Albania  2014  35.540256
2   Albania  2015  39.121903
3   Albania  2016  13.734242
4   Albania  2017  54.860834
5   Albania  2018  58.944846
6   Albania  2019  54.765851
7   Albania  2020  45.648371
8   Albania  2021  49.690566
9   Albania  2022  50.643512
10  Albania  2023  54.700879

In [57]:

total_pairs = set(zip(df_total_prisoners['country'], df_total_prisoners['year']))
drug_pairs = set(zip(df_drug_combined['country'], df_drug_combined['year']))

#intersection
common_pairs = total_pairs & drug_pairs

print(f"Number of matching country-year pairs: {len(common_pairs)}")

Number of matching country-year pairs: 717

In [58]:
list(common_pairs)[:10]

[('Bulgaria', 2018),
 ('Ecuador', 2021),
 ('Trkiye', 2013),
 ('Slovenia', 2017),
 ('Latvia', 2017),
 ('Trkiye', 2022),
 ('Honduras', 2013),
 ('Republic of Moldova', 2018),
 ('China, Hong Kong Special Administrative Region', 2019),
 ('Honduras', 2022)]

In [59]:
df_drug_combined.to_csv('df_drug_combined.csv', index=False)

In [60]:
df_merged = pd.merge(
    df_total_prisoners,
    df_drug_combined,
    on=['country', 'year'],
    how='inner',
    suffixes=('_total', '_drug')
)

In [61]:
df_merged.head()

,iso3_code,country,region,subregion,indicator,dimension,category,sex,age,year,unit_of_measurement,value_total,source,value_drug
0,AND,Andorra,Europe,Southern Europe,Persons held,Total,Total,Total,Total,2010,"Rate per 100,000 population",54.518871,External/WPB-ICPR/CTS,4.956261
1,ARG,Argentina,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2010,"Rate per 100,000 population",143.446050,CTS/WPB-ICPR,4.332905
2,AUS,Australia,Oceania,Australia and New Zealand,Persons held,Total,Total,Total,Total,2010,"Rate per 100,000 population",137.704714,CTS/SDG,29.202974
3,AUT,Austria,Europe,Western Europe,Persons held,Total,Total,Total,Total,2010,"Rate per 100,000 population",105.354496,CTS/WPB-ICPR,12.217440
4,AZE,Azerbaijan,Asia,Western Asia,Persons held,Total,Total,Total,Total,2010,"Rate per 100,000 population",241.569489,CTS/SDG,56.850169

In [62]:
df_merged['drug_prisoner_percentage'] = (
    df_merged['value_drug'] / df_merged['value_total']
) * 100

In [63]:
df_drug_percentage = df_merged[['iso3_code','country', 'region', 'subregion','year', 'unit_of_measurement','value_total', 'value_drug', 'drug_prisoner_percentage']]

In [65]:
df_drug_percentage = df_drug_percentage.round(2)

In [66]:
df_drug_percentage.to_csv('df_drug_prisoner_percentage.csv', index=False)

In [69]:
df_drug_percentage['country'].unique()

array(['Andorra', 'Argentina', 'Australia', 'Austria', 'Azerbaijan',
       'Bulgaria', 'Bahamas', 'Barbados', 'Switzerland', 'Colombia',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'Guatemala',
       'China, Hong Kong Special Administrative Region', 'Ireland',
       'Italy', 'Japan', 'Kenya', 'Republic of Korea', 'Liechtenstein',
       'Lithuania', 'Latvia', 'Monaco', 'Mexico', 'Mauritius',
       'Netherlands (Kingdom of the)', 'Norway', 'New Zealand',
       'Portugal', 'Paraguay', 'State of Palestine', 'Romania',
       'Russian Federation', 'Serbia', 'Slovenia', 'Sweden',
       'United States of America', 'Mongolia', 'Poland',
       'United Arab Emirates', 'Burundi', 'Belize',
       'Bolivia (Plurinational State of)', 'Brazil', 'Chile', 'Algeria',
       'Spain', 'United Kingdom (England and Wales)',
       'United Kingdom (Scotland)', 'Grenada', 'Guyana', 'Indonesia',
       'Israel', 'Jordan', 'China, Macao Special Administrative Region',
       'Republic of Moldova', 'Panama', 'Trinidad and Tobago', 'Holy See',
       'Albania', 'Belarus', 'Cameroon', 'Germany', 'France', 'Georgia',
       'Greece', 'Honduras', 'Madagascar', 'Peru', 'Slovakia', 'Trkiye',
       'Armenia', 'Bermuda', 'Botswana', 'Costa Rica', 'Ecuador',
       'United Kingdom (Northern Ireland)', 'Croatia', 'Malta',
       'Montenegro', 'Philippines', 'Thailand', 'Uganda',
       'Bosnia and Herzegovina', 'Cyprus', 'Jamaica', 'El Salvador',
       'Dominica', 'Guinea-Bissau', 'Luxembourg', 'Iceland', 'Morocco',
       'Nicaragua', 'Dominican Republic', 'Saint Lucia',
       'Antigua and Barbuda', 'Hungary', 'Puerto Rico',
       'Saint Kitts and Nevis', 'Uruguay',
       'Saint Vincent and the Grenadines', 'Kyrgyzstan', 'Suriname'],
      dtype=object)

In [70]:
countries_of_interest = ["France", "Greece", "Netherlands (Kingdom of the)", "Spain", "United States of America", "Portugal", "Sweden", "Peru", "Colombia", "Brazil", "Bolivia (Plurinational State of)", "Belgium"]

df_subset = df_drug_percentage[df_drug_percentage['country'].isin(countries_of_interest)].copy()

In [71]:
df_subset['country'].unique()

array(['Colombia', 'Netherlands (Kingdom of the)', 'Portugal', 'Sweden',
       'United States of America', 'Bolivia (Plurinational State of)',
       'Brazil', 'Spain', 'France', 'Greece', 'Peru'], dtype=object)

In [72]:
df_subset.to_csv('prisoner_percentage_12countries.csv', index=False)